#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ccc;
}

body {
  background: #152238;  /* fallback for old browsers */
}

.title {
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.input {
  width: 40%;
  max-width: 300px;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 20%;
  margin-left: 9%;
}

.button {
  height: 43px;
  padding: 5px 15px;
  font-size: 16px;
  margin-top: 10px;
  background-color: #116b71;
  margin: 3%;
}

.results-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.result-item {
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: flex; /* Add this line to enable flexbox */
  align-items: center; /* Add this line to center vertically */
  background-color: #116b71;
}

.result-item:hover {
  background-color: #32088126;
}

.result-title {
  flex-grow: 1; /* Add this line to allow title to expand */
  font-size: 16px;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
}

.result-details {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f3f3f3;
  white-space: pre-line;
  height: fit-content;
  width: fit-content;
  text-align: justify;
  white-space: pre-line;
  height: 700px;
  width: 1000px;
  overflow: auto;
}

.result-body {
  font-size: 14px;
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
}